#context-menu {
    position: fixed;
    z-index: 10;
    width: 150px;
    background: #1b1a1a;
    border-radius: 5px;
    transform: scale(0);
    transform-origin: top left;
    border: 1px solid white;

    &.visible {
        transform: scale(1);
        transition: transform 200ms ease-in-out;
    }

    .item {
        padding: 8px 10px;
        font-size: 15px;
        color: #eee;
        cursor: pointer;
        border-radius: inherit;
        border-bottom: 1px solid rgb(46, 46, 46);
        user-select: none;

        &:hover {
            background: #343434;
        }

        &.red:hover {
            background: red;
        }
    }

    .hide {
        display: none;
    }

    .disable {
        color: #363636;
        color: #7e7e7e;

        &:hover {
            cursor: default;
            background: #1b1a1a;
            color: #7e7e7e;
        }
    }
}