
$clr-body-bg: #1a1a1a;
$clr-body-bg-ascent: #2a2b2e;
$clr-body-bg-ascent-over: #232427;
$clr-body-bg-ascent-over-hover: #2d2e32;
$clr-text-bg: #4b4949;
$clr-text-fg: #e8e8e8;
$clr-text-fg-accent: #ffffff85;
$clr-bg-transparent: #e8e8e800;
$dayCard-color: #5727b0;
$sel-item-fg: #d2d1d4;
$clr-body-bg-ascent-over-border: #2a2f3b;
