@mixin theme-light {
    $clr-body-bg: #e6e6e6;
    $clr-text-bg: #d3cece;
    $clr-text-fg: #000000;
    $clr-bg-transparent: #e8e8e800;
    $sel-item-fg: #333232;
    $dayCard-color: #2795b0;

    $clr-body-bg-ascent: #818285;
    $clr-body-bg-ascent-over: #434446;
    $clr-body-bg-ascent-over-hover: #2d2e32;
    $clr-text-fg-accent: #ffffff85;
    $clr-body-bg-ascent-over-border: #2a2f3b;
}