@mixin psudeo-badge($t) {

    & .badge {
        position: absolute;
        background-color: var(--color1);
        top: 0;
        right: 0;
        text-align: center;
        padding: 4px 8px;
        border-radius: 5px;
    }
}


.day-wrapper {
    z-index: 1;
    margin-top: 30px;
    margin-left: 15px;
    user-select: none;

    .event-list {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .dayCard {
            padding: 17px 7px;
            margin: 4px;
            height: min-content;
            border-radius: 12px;
            background-color: var(--color1);
        }

        .subcard-holder {
            position: absolute;
            display: flex;
            align-items: center;
            overflow-x: hidden;
            width: 115%;
            margin-left: 100px;

            .subCard {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: inherit;
                border-radius: 25px;
                background-color: rgb(116, 79, 93);
                user-select: none;
                cursor: pointer;

                &[type="1"] {
                    @include psudeo-badge("L");
                    border-top-right-radius: 5px;
                }

                &[type="2"] {
                    @include psudeo-badge("N");
                    border-top-right-radius: 5px;
                }



            }

            .caret {
                &::after {
                    z-index: 2;
                    position: absolute;
                    left: -2.7px;
                    content: "";
                    width: 2px;
                    height: inherit;
                    background-color: var(--color3);

                }

                &::before {
                    z-index: 2;
                    position: absolute;
                    left: -5.6px;
                    bottom: 0;
                    content: "";
                    width: 7px;
                    height: 7px;
                    border-radius: 50%;
                    background-color: var(--color3);
                }
            }
            & .badge {
                    transform: translate(-2px, 2px);
                }

            .active {
                border: 2px solid var(--color2);


                & .badge {
                    transform: translate(0px, 0px);
                }
            }

            .plus {
                background-color: var(--secondary);
                font-size: 33px;
                align-items: normal;
                cursor: pointer;

                &:hover {
                    background-color: var(--secondary-container);
                }
            }
        }
    }
}