@import "./Dayline";
@import "./Timeline";



.fade-group {
    position: absolute;
    background-image: linear-gradient(to right,
            $clr-body-bg,
            $clr-bg-transparent);
    left: 115px;
    height: 410px;
    width: 20px;
}


.main {
    display: flex;
    height: 100%;
}