@import "mixins";

.dropdown {
    min-width: 15em;
    position: relative;
}

.dropdown * {
    box-sizing: border-box;
}


.select {
    @include hv-Box;
    cursor: pointer;
    transition: background 0.2s;


    .e {
        display: flex;
        align-items: center;

        span {
            color: var(--on-secondary-container);
            margin-right: 12px;
        }

        .caret {
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 6px solid #ffffff;
            transition: 0.3s;
        }

        .caret-rotate {
            transform: rotate(180deg);
        }
    }

    &:hover {
        background-color: var(--secondary-container);
    }
}

.select-clicked {
    border: 2px var(--on-secondary-container-border, #323741) solid;
    box-shadow: 0 0 0.8em var(--secondary-container);
    background-color: var(--secondary-container);
}




.menu {
    list-style: none;
    padding: 0.2em 0.5em;
    background-color: var(--secondary-container);
    border: 1px var(--secondary-container-border, #363a43) solid;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color: var(--on-secondary-container);
    position: absolute;
    top: 3em;
    right: 0%;
    opacity: 0;
    display: none;
    z-index: 1;

    li {
        padding: 0.7em 0.5em;
        margin: 0.3em 0;
        border-radius: 0.5em;
        cursor: pointer;

        &:hover {
            background-color: var(--primary-container);
        }
    }
}

.active {
    background: var(--primary-container);
}

.menu-open {
    display: block;
    opacity: 1;
}


.cl-box {
    @include hv-Box();


    .k {
        display: flex;
        align-items: center;
        height: 21px;



        input {
            @include ct-txtbx();
        }

        .counter-btn {
            user-select: none;

            .btn {
                height: 20px;
                width: 20px;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: end;

                &:hover {
                    background-color: var(--secondary-container);
                    transition: background 0.2s;
                    border-radius: 5px;
                }
            }
        }
    }
}