@mixin hv-Box() {

    background: var(--secondary);
    color: var(--on-secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px #2a2f3b solid;
    border-radius: 0.5em;
    padding: 1em;
    margin: 5px;

    span:first-child {
        color: var(--on-secondary);
        user-select: none;
    }
}

@mixin ct-txtbx() {

    background-color: var(--secondary-container);
    color: var(--on-secondary-container);
    border-radius: 5px;
    margin-right: 10px;
    height: 32px;

    &:focus {
        box-shadow: 0 0 0.8em var(--secondary-container);
    }


    &:focus {
        outline: 0;
    }

    border: 1px solid var(--secondary-container);

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}