@import "DropDown";
@import "ClassDetail";
@import "../Global/mixins";



.property-menu-stack {
    display: flex;
    flex-grow: 1;


    .event-properties {
        padding: 5px;
        @include d-shape();
        margin: 0px 5px 5px 5px;
        background-color: var(--primary);
        flex-grow: 1;
    }

    .debug-window {
        width: 25%;
        margin: 0px 5px 5px 0px;
        padding: 5px;
        @include d-shape();
        background-color: var(--primary);

        // span {
        //     color: var(--on-error-container);
        //     user-select: none;
        //     text-align: left;
        // }

        .json-view {
            @include d-shape();
            background-color: var(--primary-container);
            width: 90%;
            height: 85%;
            margin: auto;
            color: var(--primary-container);

            .heading {
                user-select: none;
                color: var(--on-primary-container);
                position: absolute;
                transform: translate(-52%, 130%) rotateZ(-90deg);
            }

            #json-text {
                overflow: hidden;
            }
        }

        &.hidden {
            display: none;
        }

    }


}