.popupMenu {
    color: var(--on-primary);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    z-index: 10;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    user-select: none;
}

.popupMenu-content {
    position: absolute;
    z-index: 50;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary);
    color: var(--on-primary);
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;

    border: 1px solid white;

    .btn-group {
        .button {
            float: right;
            /* width: 1.5rem; */
            padding: 3px 12px;
            margin: 5px;
            line-height: 1.5rem;
            text-align: center;
            cursor: pointer;
            border-radius: 0.25rem;
            background-color: var(--primary-container);

            &:hover {
                background-color: var(--secondary-container);
            }
        }

        .disable {
            color: rgb(138, 138, 138);

            &:hover {
                background-color: var(--primary-container);
                cursor: default;
            }
        }
    }

    &:has(.left) {
        width: unset;
    }

    .box-content {
        margin-top: 40px;
        left: 1px;

        &:has(.left) {
            display: flex;
            align-items: center;

            input {
                @include ct-txtbx();
                height: 25px;
            }

            .left {
                tr>td {
                    padding: 7px 5px;
                    text-align: left;
                }
            }

            .divider {
                height: 210px;
                width: 1px;
                background-color: rgb(126, 122, 122);
                margin: 0px 5px;
            }

            .right {
                .i {
                    width: 200px;
                    // min-height: 200px;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 10px;
                    margin: 5px;
                    // overflow: hidden;

                    img {
                        width: 200px;
                        // height: 200px;
                        background-color: rgb(255, 255, 255);
                        border-radius: 10px;
                        border: 0px;
                        transition: transform .3s, border-radius .3s;

                        &.zoom {
                            position: absolute;
                            cursor: zoom-out;
                            border-radius: 0px;
                            // right: 50%;
                            transform: translate(-70%) scale(6);
                        }
                    }

                    .block-img {
                        position: absolute;
                        display: none;
                        width: 200px;
                        // height: 200px;
                        height: 100%;
                        border-radius: 10px;
                        cursor: zoom-in;
                        background-color: rgba(102, 102, 102, 0.397);

                        span {
                            color: black;
                        }
                    }

                    &:hover {
                        .block-img {
                            display: block;
                            color: black;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }

    .btn-group {
        margin-top: 30px;
    }
}

.show-popupMenu {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}