.body,
* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  scroll-behavior: smooth;
}

a,
span {
  color: #e8e8e8;
}

body {
  background-color: #1a1a1a;
  color: #e8e8e8;
  overflow-x: hidden;
}

.content {
  height: calc(100vh - 58px);
}

.small-screen-warning {
  display: none;
}

/*-------------------------Media Querry------------------------*/
@media only screen and (max-width: 1230px) {
  .small-screen-warning {
    z-index: 100;
    display: flex;
    background-color: tomato;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  .content {
    display: none;
  }
  .modal {
    visibility: hidden;
  }
  #context-menu.visible {
    transform: scale(0);
    transition: none;
  }
}
.topnav {
  background-color: #2a2b2e;
  overflow: hidden;
  padding: 14px 16px 14px 8px;
}
.topnav a {
  border-radius: 18px;
  float: left;
  padding: 5px 21px 6px 21px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  margin-left: 20px;
}
.topnav a:hover,
.topnav a.active {
  background-color: #0385a2;
  color: white;
  cursor: pointer;
}

.day-wrapper {
  margin-top: 30px;
  margin-left: 15px;
}
.day-wrapper .event-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.day-wrapper .event-list .dayCard {
  padding: 17px 7px;
  margin: 4px;
  height: -moz-min-content;
  height: min-content;
  border-radius: 12px;
  background-color: #5727b0;
}
.day-wrapper .event-list .subcard-holder {
  position: absolute;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  width: 115%;
  margin-left: 100px;
}
.day-wrapper .event-list .subcard-holder .subCard {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: inherit;
  border-radius: 25px;
  background-color: rgb(223, 179, 196);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.day-wrapper .event-list .subcard-holder .subCard .plus {
  background-color: rgba(255, 255, 255, 0.1450980392);
  font-size: 33px;
  align-items: normal;
  cursor: pointer;
}
.day-wrapper .event-list .subcard-holder .subCard .plus:hover {
  background-color: rgba(255, 255, 255, 0.3019607843);
}
.day-wrapper .event-list .subcard-holder .subCard .active {
  border: 2px solid #d2d1d4;
  /* box-shadow:0px 0px 2px 2px black ; */
}
.day-wrapper .event-list .subcard-holder .subCard .caret::after {
  z-index: 2;
  position: absolute;
  left: -2.7px;
  content: "";
  width: 2px;
  height: inherit;
  background-color: #238d8d;
}
.day-wrapper .event-list .subcard-holder .subCard .caret::before {
  z-index: 2;
  position: absolute;
  left: -5.6px;
  bottom: 0;
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #61eee7;
}

.schedule-timeline-group {
  z-index: -1;
  overflow-x: hidden;
  padding-left: 32px;
  display: flex;
  flex: 80%;
}
.schedule-timeline-group .schedule-timeline {
  display: flex;
  position: relative;
  justify-content: flex-start;
  min-width: 100px;
  width: 150px;
}
.schedule-timeline-group .schedule-timeline .circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin-bottom: 10px;
  transform: translate(-43%, 20px);
}
.schedule-timeline-group .schedule-timeline span {
  align-self: flex-start;
  position: relative;
  transform: translateX(calc(-50% - 10px));
}
.schedule-timeline-group .schedule-timeline::after {
  content: "";
  position: absolute;
  top: 30px;
  height: calc(100% - 30px);
  width: 1px;
  background-color: #ccc;
}

.fade-group {
  position: absolute;
  background-image: linear-gradient(to right, #1a1a1a, rgba(232, 232, 232, 0));
  left: 115px;
  height: 410px;
  width: 20px;
}

.main {
  display: flex;
  height: 100%;
}

.blak {
  min-width: 250px;
  z-index: 1;
  flex: 20%;
  height: inherit;
  background-color: rgb(126, 126, 126);
}

#context-menu {
  position: fixed;
  z-index: 10;
  width: 150px;
  background: #1b1a1a;
  border-radius: 5px;
  transform: scale(0);
  transform-origin: top left;
  border: 1px solid white;
}

#context-menu.visible {
  transform: scale(1);
  transition: transform 200ms ease-in-out;
}

#context-menu .item {
  padding: 8px 10px;
  font-size: 15px;
  color: #eee;
  cursor: pointer;
  border-radius: inherit;
  border-bottom: 1px solid rgb(46, 46, 46);
}

#context-menu .item:hover {
  background: #343434;
}

#context-menu .item.red:hover {
  background: red;
}

#context-menu .hide {
  display: none;
}

#context-menu .disable {
  color: #363636;
  color: #7e7e7e;
}

#context-menu .disable:hover {
  cursor: default;
  background: #1b1a1a;
  color: #7e7e7e;
}

.modal {
  color: var(--clr-text-fg);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
  position: absolute;
  z-index: 50;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--clr-body-bg);
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem;
  border: 1px solid white;
}

.modal-content .btn-group .button {
  float: right;
  /* width: 1.5rem; */
  padding: 3px 12px;
  margin: 5px;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: rgb(70, 69, 69);
}

.modal-content .btn-group .button:hover {
  background-color: rgb(102, 102, 102);
}

.modal-content .btn-group .disable {
  color: rgb(138, 138, 138);
}

.modal-content .btn-group .disable:hover {
  background-color: rgb(70, 69, 69);
  cursor: default;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content .box-content {
  margin-top: 40px;
}

.modal-content .btn-group {
  margin-top: 30px;
}

.modal-content .box-content {
  left: 1px;
}/*# sourceMappingURL=style.css.map */