.topnav {
  background-color: #2a2b2e;
  overflow: hidden;
  padding: 14px 16px 14px 8px;
  border-radius: 15px;
  margin: 5px;
}
.topnav a {
  border-radius: 18px;
  float: left;
  padding: 5px 21px 6px 21px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  margin-left: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.topnav a:hover,
.topnav a.active {
  background-color: #0385a2;
  color: white;
  cursor: pointer;
}

.day-wrapper {
  z-index: 1;
  margin-top: 30px;
  margin-left: 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.day-wrapper .event-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.day-wrapper .event-list .dayCard {
  padding: 17px 7px;
  margin: 4px;
  height: -moz-min-content;
  height: min-content;
  border-radius: 12px;
  background-color: #5727b0;
}
.day-wrapper .event-list .subcard-holder {
  position: absolute;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  width: 115%;
  margin-left: 100px;
}
.day-wrapper .event-list .subcard-holder .subCard {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: inherit;
  border-radius: 25px;
  background-color: rgb(223, 179, 196);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.day-wrapper .event-list .subcard-holder .subCard[type="1"] {
  border-top-right-radius: 5px;
}
.day-wrapper .event-list .subcard-holder .subCard[type="1"] .badge {
  position: absolute;
  background-color: #238d8d;
  top: 0;
  right: 0;
  text-align: center;
  padding: 4px 8px;
  border-radius: 5px;
}
.day-wrapper .event-list .subcard-holder .subCard[type="2"] {
  border-top-right-radius: 5px;
}
.day-wrapper .event-list .subcard-holder .subCard[type="2"] .badge {
  position: absolute;
  background-color: #238d8d;
  top: 0;
  right: 0;
  text-align: center;
  padding: 4px 8px;
  border-radius: 5px;
}
.day-wrapper .event-list .subcard-holder .caret::after {
  z-index: 2;
  position: absolute;
  left: -2.7px;
  content: "";
  width: 2px;
  height: inherit;
  background-color: #238d8d;
}
.day-wrapper .event-list .subcard-holder .caret::before {
  z-index: 2;
  position: absolute;
  left: -5.6px;
  bottom: 0;
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #61eee7;
}
.day-wrapper .event-list .subcard-holder .badge {
  transform: translate(-2px, 2px);
}
.day-wrapper .event-list .subcard-holder .active {
  border: 2px solid #d2d1d4;
}
.day-wrapper .event-list .subcard-holder .active .badge {
  transform: translate(0px, 0px);
}
.day-wrapper .event-list .subcard-holder .plus {
  background-color: rgba(255, 255, 255, 0.1450980392);
  font-size: 33px;
  align-items: normal;
  cursor: pointer;
}
.day-wrapper .event-list .subcard-holder .plus:hover {
  background-color: rgba(255, 255, 255, 0.3019607843);
}

.schedule-timeline-group {
  overflow-x: hidden;
  padding-left: 32px;
  display: flex;
  flex: 80%;
}
.schedule-timeline-group .schedule-timeline {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  position: relative;
  justify-content: flex-start;
  min-width: 100px;
  width: 150px;
}
.schedule-timeline-group .schedule-timeline .circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin-bottom: 10px;
  transform: translate(-43%, 20px);
}
.schedule-timeline-group .schedule-timeline span {
  align-self: flex-start;
  position: relative;
  transform: translateX(calc(-50% - 10px));
}
.schedule-timeline-group .schedule-timeline::after {
  content: "";
  position: absolute;
  top: 30px;
  height: calc(100% - 30px);
  width: 1px;
  background-color: #ccc;
}

.fade-group {
  position: fixed;
  background-image: linear-gradient(to right, #2a2b2e, rgba(232, 232, 232, 0));
  transform: translate(115px, 0%);
  height: 410px;
  width: 20px;
  z-index: 1;
}

.main {
  display: flex;
  border-radius: 15px;
  margin: 0px 5px 5px 5px;
  background-color: #2a2b2e;
  padding: 5px;
}

.dropdown {
  min-width: 15em;
  position: relative;
}

.dropdown * {
  box-sizing: border-box;
}

.select {
  background: #232427;
  color: #e8e8e8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px #2a2f3b solid;
  border-radius: 0.5em;
  padding: 1em;
  margin: 5px;
  cursor: pointer;
  transition: background 0.2s;
}
.select span:first-child {
  color: rgba(255, 255, 255, 0.5215686275);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.select .e {
  display: flex;
  align-items: center;
}
.select .e span {
  color: white;
  margin-right: 12px;
}
.select .e .caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  transition: 0.3s;
}
.select .e .caret-rotate {
  transform: rotate(180deg);
}
.select:hover {
  background-color: #2d2e32;
}

.select-clicked {
  border: 2px #323741 solid;
  box-shadow: 0 0 0.8em #323741;
  background-color: #2d2e32;
}

.menu {
  list-style: none;
  padding: 0.2em 0.5em;
  background-color: #2d2e32;
  border: 1px #363a43 solid;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  color: #9fa5b5;
  position: absolute;
  top: 3em;
  right: 0%;
  opacity: 0;
  display: none;
  z-index: 1;
}
.menu li {
  padding: 0.7em 0.5em;
  margin: 0.3em 0;
  border-radius: 0.5em;
  cursor: pointer;
}
.menu li:hover {
  background-color: #232427;
}

.active {
  background: #23242a;
}

.menu-open {
  display: block;
  opacity: 1;
}

.cl-box {
  background: #232427;
  color: #e8e8e8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px #2a2f3b solid;
  border-radius: 0.5em;
  padding: 1em;
  margin: 5px;
}
.cl-box span:first-child {
  color: rgba(255, 255, 255, 0.5215686275);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.cl-box .k {
  display: flex;
  align-items: center;
  height: 21px;
}
.cl-box .k input {
  background-color: #232427;
  border-radius: 5px;
  margin-right: 10px;
  color: #e8e8e8;
  height: 32px;
}
.cl-box .k input:focus {
  outline: 0;
}
.cl-box .k input::-webkit-inner-spin-button, .cl-box .k input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.cl-box .k .counter-btn {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.cl-box .k .counter-btn .btn {
  height: 20px;
  width: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: end;
}
.cl-box .k .counter-btn .btn:hover {
  background-color: #2d2e32;
  transition: background 0.2s;
  border-radius: 5px;
}

.classDetails {
  background: #232427;
  color: #e8e8e8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px #2a2f3b solid;
  border-radius: 0.5em;
  padding: 1em;
  margin: 5px;
  flex-direction: column;
  align-items: flex-start;
}
.classDetails span:first-child {
  color: rgba(255, 255, 255, 0.5215686275);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.classDetails .inner-stack {
  display: flex;
}
.classDetails .inner-stack #close-btn {
  display: none;
  position: absolute;
  right: 0px;
  top: 0px;
  transform: translate(40%, -40%);
  background-color: #232427;
  width: 22px;
  height: 22px;
  text-align: center;
  border-radius: 7px;
  border: 1px solid white;
  cursor: pointer;
}
.classDetails .inner-stack #close-btn:hover {
  background-color: tomato;
}
.classDetails .inner-stack .inner {
  margin: 15px;
  position: relative;
  margin-top: 15px;
  max-width: 500px;
  border-radius: 10px;
  border: 1px solid white;
  padding-left: 15px;
}
.classDetails .inner-stack .inner:hover #close-btn {
  display: block;
}
.classDetails .inner-stack .inner.shadow {
  opacity: 30%;
  transition: ease opacity 0.2s;
}
.classDetails .inner-stack .inner.shadow:hover {
  opacity: 100%;
}
.classDetails .inner-stack .inner.shadow #close-btn {
  display: none;
}
.classDetails .inner-stack .inner.hidden {
  display: none;
}
.classDetails .inner-stack .inner .m {
  display: flex;
  align-items: center;
  margin: 15px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.classDetails .inner-stack .inner .m span {
  width: 104px;
}
.classDetails .inner-stack .inner .m input {
  background-color: #232427;
  border-radius: 5px;
  margin-right: 10px;
  color: #e8e8e8;
  height: 32px;
  height: -moz-fit-content;
  height: fit-content;
}
.classDetails .inner-stack .inner .m input:focus {
  outline: 0;
}
.classDetails .inner-stack .inner .m input::-webkit-inner-spin-button, .classDetails .inner-stack .inner .m input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.classDetails .inner-stack .inner .class-num {
  position: absolute;
  transform: rotateZ(-90deg) translate(-50%, -40%);
  left: -5%;
  background-color: #232427;
  border: 1px solid white;
  border-radius: 10px;
  padding: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.property-menu-stack {
  display: flex;
  flex-grow: 1;
}
.property-menu-stack .event-properties {
  padding: 5px;
  border-radius: 15px;
  margin: 0px 5px 5px 5px;
  background-color: #2a2b2e;
  flex-grow: 1;
}
.property-menu-stack .debug-window {
  width: 25%;
  margin: 0px 5px 5px 0px;
  padding: 5px;
  border-radius: 15px;
  background-color: #2a2b2e;
}
.property-menu-stack .debug-window span {
  color: rgba(255, 255, 255, 0.5215686275);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-align: left;
}
.property-menu-stack .debug-window .json-view {
  border-radius: 15px;
  background-color: #232427;
  width: 90%;
  height: 85%;
  margin: auto;
  color: rgba(255, 255, 255, 0.5215686275);
}
.property-menu-stack .debug-window .json-view .heading {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: absolute;
  transform: translate(-52%, 130%) rotateZ(-90deg);
}
.property-menu-stack .debug-window .json-view #json-text {
  overflow: hidden;
}
.property-menu-stack .debug-window.hidden {
  display: none;
}

#context-menu {
  position: fixed;
  z-index: 10;
  width: 150px;
  background: #1b1a1a;
  border-radius: 5px;
  transform: scale(0);
  transform-origin: top left;
  border: 1px solid white;
}
#context-menu.visible {
  transform: scale(1);
  transition: transform 200ms ease-in-out;
}
#context-menu .item {
  padding: 8px 10px;
  font-size: 15px;
  color: #eee;
  cursor: pointer;
  border-radius: inherit;
  border-bottom: 1px solid rgb(46, 46, 46);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#context-menu .item:hover {
  background: #343434;
}
#context-menu .item.red:hover {
  background: red;
}
#context-menu .hide {
  display: none;
}
#context-menu .disable {
  color: #363636;
  color: #7e7e7e;
}
#context-menu .disable:hover {
  cursor: default;
  background: #1b1a1a;
  color: #7e7e7e;
}

.popupMenu {
  color: #e8e8e8;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.popupMenu-content {
  position: absolute;
  z-index: 50;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1a1a1a;
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem;
  border: 1px solid white;
}
.popupMenu-content .btn-group .button {
  float: right;
  /* width: 1.5rem; */
  padding: 3px 12px;
  margin: 5px;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: rgb(70, 69, 69);
}
.popupMenu-content .btn-group .button:hover {
  background-color: rgb(102, 102, 102);
}
.popupMenu-content .btn-group .disable {
  color: rgb(138, 138, 138);
}
.popupMenu-content .btn-group .disable:hover {
  background-color: rgb(70, 69, 69);
  cursor: default;
}
.popupMenu-content .box-content {
  margin-top: 40px;
  left: 1px;
}
.popupMenu-content .btn-group {
  margin-top: 30px;
}

.show-popupMenu {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

body,
* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

a,
span {
  color: #e8e8e8;
}

body {
  background-color: #1a1a1a;
  color: #e8e8e8;
  overflow-x: hidden;
  height: 100vh;
}

.small-screen-warning {
  display: none;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/*-------------------------Media Querry------------------------*/
#snackbar-container {
  position: fixed;
  right: 25px;
  bottom: 0px;
}

.snackbar {
  position: relative;
  display: flex;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  margin-bottom: 20px;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 16px;
  z-index: 1;
  font-size: 17px;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  animation: fadeout 0.5s;
  height: auto;
}
.snackbar.show {
  visibility: visible;
  animation: fadein 0.5s;
}
.snackbar[type=success] {
  background-color: #4caf50;
}
.snackbar[type=system] {
  background-color: #2896f3;
}
.snackbar[type=warning] {
  background-color: #fbc107;
}
.snackbar[type=error] {
  background-color: #f55153;
}
.snackbar .close-btn {
  width: 25px;
  cursor: pointer;
  opacity: 0.5;
}
.snackbar .close-btn path {
  fill: #fff;
}
.snackbar .close-btn:hover {
  opacity: 1;
}
.snackbar .icon {
  width: 25px;
  height: 25px;
}
.snackbar .icon svg {
  fill: white;
  width: 25px;
  height: 25px;
}
.snackbar .text {
  flex-grow: 1;
  text-align: left;
  margin: 0px 15px;
}
.snackbar .t-progress-bar {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 6px;
  width: 100%;
  border-radius: 0 0 0 0.5rem;
  background-color: rgba(255, 255, 255, 0.5);
  animation: progress-bar-animation linear forwards var(--toast-duration, 3000ms);
  transform-origin: left;
}
@keyframes fadein {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
    transform: translateX(0%);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}
@keyframes progress-bar-animation {
  to {
    transform: scaleX(0);
  }
}
#canvas {
  image-rendering: pixelated;
  z-index: -100;
  top: 0;
  left: 0;
  display: none;
  position: absolute;
}/*# sourceMappingURL=style.css.map */